<div class="container portfolio-container">
  <div class="row">
    <div class="col-md-7">
      <%= image_tag portfolio_img(@portfolio_items.main_image.url, 'main') %>
    </div>
    <div class="col-md-5">
      <h1><%= @portfolio_items.title %></h1>
      <hr>
      <em><%= @portfolio_items.subtitle %></em>
      <p><%= @portfolio_items.body %></p>
      <hr>
      <h3>Technologies Used:</h3>
      <% @portfolio_items.technologies.each do |t| %>
        <p><%= t.name %></p>
      <% end %>
      <% if logged_in? (:site_admin)%>
        <div >
          <%= link_to 'Edit Item', edit_portfolio_path(@portfolio_items), class: 'btn btn-warning' %>
        </div>
      <% end%>
    </div>
  </div>
</div>
