<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Samuel kiroko N, Fullstack web developer: Ruby&rails, React,
    Boostrap, html/css, ">
    <meta name="generator" content="Jekyll v4.0.1">
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Lato|Roboto+Slab" rel="stylesheet">
    <meta name = "keywords" content= "<%= @seo_keywords%>"/>
    <%= favicon_link_tag 'images/favicon.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <%= video_tag "HardDrivePhotojpeg.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "background" %>
      <%= render 'shared/application_nav' %>
      <%= yield %>
      <%= render 'shared/application_footer' %>
      <%= alerts %>
    </div>
  </body>
</html>
